<!DOCTYPE html>
<html>

<head>
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/static/css/custom.css" media="screen,projection" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Depado</title>
</head>

<body>
    <main>
        <div class="section white">
            <div class="container">
                <h2 class="header">Depado</h2>
                <h4 class="header">Developer, Geek, New Technologies Enthusiast</h4>
                <a href="https://github.com/Depado" class="tooltipped" target="_blank" data-position="bottom" data-tooltip="GitHub">
                    <i class="fa fa-2x fa-github" style="color: #EE6E73;"></i>
                </a>&nbsp;&nbsp;
                <a href="https://plus.google.com/u/0/114932755645700075856" class="tooltipped" target="_blank" data-position="bottom" data-tooltip="Google Plus">
                    <i class="fa fa-google-plus-square fa-2x" style="color: #EE6E73;"></i>
                </a>&nbsp;&nbsp;
                <a href="https://fr.linkedin.com/in/paul-lhussiez-7b55664a" class="tooltipped" target="_blank" data-position="bottom" data-tooltip="LinkedIn">
                    <i class="fa fa-linkedin fa-2x" style="color: #EE6E73;"></i>
                </a>&nbsp;&nbsp;
                <a href="http://depado.markdownblog.com" target="_blank" class="tooltipped" data-position="bottom" data-tooltip="Blog">
                    <i class="fa fa-file-text fa-2x" style="color: #EE6E73;"></i>
                </a>&nbsp;&nbsp;
                <a href="https://twitter.com/Depado_" target="_blank" class="tooltipped" data-position="bottom" data-tooltip="Twitter">
                    <i class="fa fa-twitter fa-2x" style="color: #EE6E73;"></i>
                </a>
                <br />
                <br />
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax">
                <img src="/static/img/01-Morning.png" alt="background">
            </div>
        </div>
        <div class="section white">
            <div class="container">
                <h2 class="header">Projects</h2>
                <h4 class="header">Here is a list of some of my projects.</h4>
                <div class="row">
                    <div class="col s12 m6 l6">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title grey-text text-darken-4">GoMonit</span>
                                <p>
                                    GoMonit is a server that monitors your website, Github repositories and Drone builds.
                                    <br />
                                    <br /> It provides a nice web interface that shows all the services you have defined in your configuration file.
                                </p>
                                <br />
                                <div class="chip">Go</div>
                                <div class="chip">Gin</div>
                                <div class="chip">BoltDB</div>
                            </div>
                            <div class="card-action">
                                <a href="https://github.com/Depado/gomonit" target="_blank" class="tooltipped" data-position="top" data-tooltip="GitHub Project">
                                    <i class="fa fa-lg fa-github"></i>
                                </a>
                                <a href="https://monit.depado.eu/" target="_blank" class="tooltipped" data-position="top" data-tooltip="GoMonit in action">
                                    <i class="fa fa-lg fa-link"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l6">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title grey-text text-darken-4">Goploader</span>
                                <p>
                                    Client-Server application that allows to upload files painlessly. Uses server-side encryption and is curl compliant.
                                    <br />
                                    <br />The client allows to take screenshots, reads from stdin, etc.
                                </p>
                                <br />
                                <div class="chip">Go</div>
                                <div class="chip">Gin</div>
                                <div class="chip">SQLite</div>
                            </div>
                            <div class="card-action">
                                <a href="https://github.com/Depado/goploader" target="_blank" class="tooltipped" data-position="top" data-tooltip="GitHub Project">
                                    <i class="fa fa-lg fa-github"></i>
                                </a>
                                <a href="https://up.depado.eu/" target="_blank" class="tooltipped" data-position="top" data-tooltip="Goploader's Website">
                                    <i class="fa fa-lg fa-link"></i>
                                </a>
                                <a href="https://up.depado.eu/#downloads" target="_blank" class="tooltipped" data-position="top" data-tooltip="Downloads">
                                    <i class="fa fa-lg fa-download"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 l6">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title grey-text text-darken-4">Go-b0tsec</span>
                                <p>
                                    A nice IRC bot that is interfaced with several APIs like Urban Dictionnary, Yandex translation service, etc.
                                    <br />
                                    <br />Based on a plugin/middleware architecture that makes it easy to develop new features.
                                </p>
                                <br />
                                <div class="chip">Go</div>
                                <div class="chip">BoltDB</div>
                            </div>
                            <div class="card-action">
                                <a href="https://github.com/Depado/go-b0tsec" target="_blank" class="tooltipped" data-position="top" data-tooltip="GitHub Project">
                                    <i class="fa fa-lg fa-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l6">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title grey-text text-darken-4">MarkDownBlog</span>
                                <p>
                                    MarkDownBlog is a blogging platform, inspired by Tumblr where each user gets his own subdomain.
                                    <br />
                                    <br /> Uses markdown as the main format to write articles, supports syntax highlighting, GFM and MathJax.
                                </p>
                                <br />
                                <div class="chip">Python</div>
                                <div class="chip">Flask</div>
                                <div class="chip">SQLAlchemy</div>
                            </div>
                            <div class="card-action">
                                <a href="https://github.com/Depado/MarkDownBlog" target="_blank" class="tooltipped" data-position="top" data-tooltip="GitHub Project">
                                    <i class="fa fa-lg fa-github"></i>
                                </a>
                                <a href="http://markdownblog.com" target="_blank" class="tooltipped" data-position="top" data-tooltip="MarkDownBlog Platform">
                                    <i class="fa fa-lg fa-link"></i>
                                </a>
                                <a href="http://depado.markdownblog.com" target="_blank" class="tooltipped" data-position="top" data-tooltip="My Blog on MarkDownBlog">
                                    <i class="fa fa-lg fa-user"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 l6">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title grey-text text-darken-4">GoPaste</span>
                                <p>
                                    A simple paste application with a Go backend.
                                    <br />
                                    <br /> This is a work in progress. The main goal would be to provide an easy way to create pastes that can also be parsed as markdown if specified.
                                </p>
                                <br />
                                <div class="chip">Go</div>
                                <div class="chip">Gorm</div>
                                <div class="chip">Goji</div>
                                <div class="chip">SQLite3</div>
                            </div>
                            <div class="card-action">
                                <a href="https://github.com/Depado/gopaste" target="_blank" class="tooltipped" data-position="top" data-tooltip="GitHub Project">
                                    <i class="fa fa-lg fa-github"></i>
                                </a>
                                <a href="http://paste.depado.eu/" target="_blank" class="tooltipped" data-position="top" data-tooltip="GoPaste Website">
                                    <i class="fa fa-lg fa-link"></i>
                                </a>
                                <a href="https://github.com/Depado/gopaste/releases" target="_blank" class="tooltipped" data-position="top" data-tooltip="Release">
                                    <i class="fa fa-lg fa-download"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l6">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title grey-text text-darken-4">Unicorn Chat</span>
                                <p>
                                    A simple chat application written in Node.js and using Websockets. Supports some emoticones, web notifications, and displaying images directly in the chat when a link is sent.
                                    <br />
                                    <br /> Also you can send ponies.
                                </p>
                                <br />
                                <div class="chip">Node.js</div>
                                <div class="chip">WebSocket</div>
                            </div>
                            <div class="card-action">
                                <a href="https://github.com/Depado/UnicornChat" target="_blank" class="tooltipped" data-position="top" data-tooltip="GitHub Project">
                                    <i class="fa fa-lg fa-github"></i>
                                </a>
                                <a href="http://unicorn.chat/" target="_blank" class="tooltipped" data-position="top" data-tooltip="Unicorn Chat Website">
                                    <i class="fa fa-lg fa-link"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 l6">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title grey-text text-darken-4">LostInNetwork</span>
                                <p>
                                    LostInNetwork is an open-source web application to backup and analyse your network's configurations.
                                    <br />
                                    <br /> It also keeps track of your configuration changes. Intented to be installed on your own network.
                                </p>
                                <br />
                                <div class="chip">Python</div>
                                <div class="chip">Flask</div>
                                <div class="chip">SQLAlchemy</div>
                            </div>
                            <div class="card-action">
                                <a href="https://github.com/Depado/LostInNetwork" target="_blank" class="tooltipped" data-position="top" data-tooltip="GitHub Project">
                                    <i class="fa fa-lg fa-github"></i>
                                </a>
                                <a href="http://lostinnet.work/" target="_blank" class="tooltipped" data-position="top" data-tooltip="LostInNetwork Website">
                                    <i class="fa fa-lg fa-link"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l6">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title grey-text text-darken-4">Flask-Skeleton</span>
                                <p>
                                    A python program to help you quickly setup a Flask web application by passing parameters.
                                    <br />
                                    <br /> An article was co-written by the folks at RealPython and me about this program.
                                </p>
                                <br />
                                <div class="chip">Python</div>
                                <div class="chip">Flask</div>
                            </div>
                            <div class="card-action">
                                <a href="https://github.com/Depado/flask-skeleton" target="_blank" class="tooltipped" data-position="top" data-tooltip="GitHub Project">
                                    <i class="fa fa-lg fa-github"></i>
                                </a>
                                <a href="https://realpython.com/blog/python/scaffold-a-flask-project/" target="_blank" class="tooltipped" data-position="top" data-tooltip="RealPython Article">
                                    <i class="fa fa-lg fa-file-text"></i>
                                </a>
                                <a href="http://depado.markdownblog.com/2015-04-08-scaffold-a-flask-project" target="_blank" class="tooltipped" data-position="top" data-tooltip="MarkDownBlog Article">
                                    <i class="fa fa-lg fa-file-text"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 l6">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title grey-text text-darken-4">GoFIP</span>
                                <p>
                                    A graphical webradio player for the FIP webradio. Displays the previous, next and current song and their covers.
                                    <br />
                                    <br /> Uses GStreamer to play the audio. Also sends OS notifications when the song changes.
                                </p>
                                <br />
                                <div class="chip">Go</div>
                                <div class="chip">UI</div>
                                <div class="chip">GStreamer</div>
                            </div>
                            <div class="card-action">
                                <a href="https://github.com/Depado/gofip" target="_blank" class="tooltipped" data-position="top" data-tooltip="GitHub Project">
                                    <i class="fa fa-lg fa-github"></i>
                                </a>
                                <a href="https://github.com/Depado/gofip/releases" class="tooltipped" data-position="top" data-tooltip="Release" target="_blank">
                                    <i class="fa fa-lg fa-download"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax">
                <img src="/static/img/04-Late-Afternoon.png" alt="background">
            </div>
        </div>
        <div class="section white">
            <div class="container center">
                <h2 class="header">Skills</h2>
                <div class="row">
                    <div class="col s6 center">
                        <h4 class="header">Languages</h4>
                        <div class="chip">Go</div>
                        <div class="chip">Python (2.x/3.x)</div>
                        <br />
                        <br />
                        <h4 class="header">Database</h4>
                        <div class="chip">PostgreSQL</div>
                        <div class="chip">MySQL</div>
                        <div class="chip">SQLite</div>
                        <br />
                        <br />
                        <div class="chip">MongoDB</div>
                        <div class="chip">BoltDB</div>
                        <br />
                        <br />
                        <h4 class="header">Web</h4>
                        <div class="chip">HTML5</div>
                        <div class="chip">CSS3</div>
                        <div class="chip">Javascript</div>
                        <div class="chip">jQuery</div>
                        <br />
                        <br />
                        <div class="chip">Websockets</div>
                        <div class="chip">Bootstrap 3</div>
                        <div class="chip">Semantic-UI</div>
                        <br />
                        <br />
                    </div>
                    <div class="col s6 center">
                        <h4 class="header center">Environment</h4>
                        <div class="chip">Archlinux</div>
                        <div class="chip">Alpine</div>
                        <div class="chip">Debian</div>
                        <br />
                        <br />
                        <h4 class="header center">Frameworks</h4>
                        <div class="chip">Flask</div>
                        <div class="chip">Django</div>
                        <div class="chip">SQLAlchemy</div>
                        <br />
                        <br />
                        <div class="chip">Gorm</div>
                        <div class="chip">Gin</div>
                        <div class="chip">Goji</div>
                        <br />
                        <br />
                        <h4 class="header center">Devops and Admin</h4>
                        <div class="chip">Ansible</div>
                        <div class="chip">Supervisor</div>
                        <div class="chip">Gunicorn</div>
                        <div class="chip">Uwsgi</div>
                        <br />
                        <br />
                        <div class="chip">Caddy + Let's Encrypt</div>
                        <div class="chip">Nginx</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax">
                <img src="/static/img/05-Evening.png" alt="background">
            </div>
        </div>
        <div class="section white">
            <div class="container">
                <h2 class="header">Experience</h2>
                <div class="row">
                    <div class="card col s12">
                        <div class="card-content">
                            <h4 class="header">2015-Today
                                <span class="right">
                                    <img src="/static/img/defab.png" height="40" alt="defab">
                                </span>
                            </h4>
                            <h4 class="header">DeFab</h4>
                            <h5 class="header">Developper</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card col s12">
                        <div class="card-content">
                            <h4 class="header">
                                2014-2015
                                <span class="right">
                                    <img src="/static/img/oop_white.png" height="70" alt="defab">
                                </span>
                            </h4>
                            <h4 class="header">Out Of Pluto</h4>
                            <h5 class="header">Backend Django Developper (Working Student)</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card col s12">
                        <div class="card-content">
                            <h4 class="header">2013-2014
                                <span class="right">
                                    <img src="/static/img/mobeye.png" height="70" alt="mobeye" />
                                </span>
                            </h4>
                            <h4 class="header">Mobeye</h4>
                            <h5 class="header">Backend Django Developper (Working Student)</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax">
                <img src="/static/img/06-Late-Evening.png" alt="background">
            </div>
        </div>
    </main>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.parallax').parallax();
        });
        $(document).ready(function() {
            $('.tooltipped').tooltip({
                delay: 0
            });
        });
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u = "//analytics.depado.eu/";
            _paq.push(['setTrackerUrl', u + 'mypi.php']);
            _paq.push(['setSiteId', 8]);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'mypi.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript>
        <p>
            <img src="//analytics.depado.eu/piwik.php?idsite=8" style="border:0;" alt="" />
        </p>
    </noscript>
</body>

</html>
